* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 78px 80px;
}

.tryitfree-btn {
    background-color: white;
    border: 2px solid pink;
    border-radius: 20px;
    color: pink;
    padding: 10px 20px;
}

.tryitfree-btn:hover {
    background-color: pink;
    border: 2px solid pink;
    border-radius: 20px;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
}