* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 78px 80px;
}

.tryitfree-btn {
    background-color: white;
    border: 2px solid rgba(255, 82, 193, 1);
    border-radius: 20px;
    color: rgba(255, 82, 193, 1);
    padding: 10px 20px;
}

.tryitfree-btn:hover {
    background-color: rgba(255, 82, 193, 1);
    border: 2px solid rgba(255, 82, 193, 1);
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}


/* build the community */

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-sizing: border-box;
    margin: 100px 200px;
}

.section-heading {
    font-size: 32px;
    font-weight: bold;
}

.section-paragraph {
    width: 450px;
    height: 90px;
    font-size: 14px;
    opacity: 80%;
}

.section-button {
    color: white;
    background-color: rgba(255, 82, 193, 1);
    border-radius: 20px;
    height: 40px;
    width: 200px;
    border: none;
    cursor: pointer;
}

.section-button:hover {
    color: rgba(255, 82, 193, 1);
    background-color: white;
    border: 2px solid rgba(255, 82, 193, 1);
    border-radius: 20px;
    height: 40px;
    width: 200px;
    cursor: pointer;
}

.section-img {
    width: 450px;
}



/* build the community statistics */

.section-statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.comuunities {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.communities-numbers{
    font-weight: bold;
    font-size: 50px;
}

.communities-text {
    opacity: 50%;
    font-size: 14px;
}

.communities-icon {
    width: 30px;
    height: 30px;
}





/* curved section 1 */

.growtogether-section {
    height: 600px;
    background-image: url("path 6.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;

}

.growtogether-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 300px;
    height: 200px;
}

.growtogether-img {
    width: 300px;
    height: 300px;
}

.growtogether-paragraph {
    font-size: 14px;
    opacity: 70%;
}


/* curved section 2 */

.flowingconversations-section {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;

}

.flowingconversations-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 300px;
    height: 200px;
}

.flowingconversations-img {
    width: 300px;
    height: 300px;
}

.flowingconversations-paragraph {
    font-size: 14px;
    opacity: 70%;
}


/* curved section 3 */

.yourusers-section {
    height: 600px;
    background-image: url("path5.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;

}

.yourusers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 300px;
    height: 200px;
}

.yourusers-img {
    width: 300px;
    height: 300px;
}

.yourusers-paragraph {
    font-size: 14px;
    opacity: 70%;
}


/* curved section 4 */

.section-ready {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}